<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav id="nav-3">
  <a><img src="assets/image.png" style="margin-left: -110px;">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="dropdown">
    
  <a class="link-3" routerLink="showcontact" >Contact Us</a>

</a>
<a class="dropdown">
  
  <a class="link-3" routerLink="notify" >Notifications</a>

</a>
<a class="dropdown">
  <a class="link-3" href="#" >Hospitals Dashboards</a>

  <div class="dropdown-content">
    <a class="link-3" routerLink="hospital">Hospitals & Beds</a>
    <a class="link-3"routerLink="medical">Medical Colleges & Beds</a>
    <a class="link-3" routerLink="state" >State</a>

  </div>
</a>

 
</nav>



