<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
  
</head>
<body>
   

    <!-- Video banner 400 px height -->
    <div id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="assets/videoplayback.mp4" type="video/mp4">
        </video>  
        <i id="tm-video-control-button" class="fas fa-pause"></i>
    </div>
    
    <div class=text-effect>
        <span>Stay Home Save Lives</span>
    </div>
    
    <div class="tm-container">
        <nav class="tm-main-nav">
            <ul id="inline-popups">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="tm-nav-item">
                    <a href="#intro" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <img src="assets/hand.PNG">
                        Wash your hands often

                    </a>
                    </li>
                <li class="tm-nav-item">
                    <a href="#gallery" data-effect="mfp-move-from-top" class="tm-nav-link" id="tm-gallery-link">
                        <img src="assets/close.jpg">
                        Avoid close contact

                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="#testimonials" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <img src="assets/cover.jpg">
                        Wear face mask
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="#about" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <img src="assets/clean.jpg">
                        Clean and disinfect

                    </a>
                </li>
                
            </ul>
        </nav>
<img src="assets/monitor.jpg" style="height: 400px;width:1400px"><br><br>
<div class="flex-container">
<style>
    .flex-container {
        display: flex;
    }
    
    .flex-child {
        flex: 1;
    }  
    
    .flex-child:first-child {
        margin-right: 20px;
    } 
</style>
    <div class="flex-child magenta">
        <img src="assets/dos.jpg" style="height: 400px;width:1400px">
    </div>
    
    <div class="flex-child green">
        <img src="assets/donts.jpg" style="height: 400px;width:1400px">
    </div>
    
  </div>

    </div>
</body>
</html>
    
